.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.chatbotframe {
  border: 2px solid red;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.chatbot-scroll {
  flex: 1;
  border: 2px solid blue;
  overflow: auto;
}

.chatbot-scroll > div {
  display: flex;
  flex-direction: column;
}

.chatbot-InputContainer {
  display: flex;
  padding: 8px;
}

.chatbot-Input {
  flex: 1;
}

.chatbot-bubble {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.chatbot-bubble > div {
  border: 2px solid yellow;
}

.bubble-content {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.bot-bubble {
  justify-content: flex-start;
}
.bot-bubble > div {
  align-items: flex-start;
}
.bot-bubble p {
  text-align: left;
}

.user-bubble {
justify-content: flex-end;
}

.user-bubble > div {
 align-items: flex-end;
}
.user-bubble p {
  text-align: right;
}

